.collection-item {
  width: 22vw;
  display: flex;
  flex-direction: column;
  height: 21.875rem;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;

  .image {
    width: 100%;
    height: 95%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0.3rem;
  }

  .custom-button {
    position: absolute;

    width: 80%;
    top: 15.938rem;
    opacity: 0.7;
    display: none;
  }

  &:hover {
    .image {
      opacity: 0.9;
    }
    .custom-button {
      opacity: 0.85;
      display: flex;
    }
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
  }
}
