.cart-dropdown {
  position: absolute;
  width: 15rem;
  height: 21.25rem;
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  border: 1px solid black;
  background-color: white;
  padding: 1.25rem;
  top: 5rem;
  right: 0;
  z-index: 5;

  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;
  .cart-items {
    height: 15rem;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }
  button {
    margin-bottom: auto;
  }
}
